.heading1{
    color: rgb(163, 255, 65);
    background-color: black;
    border-radius: 6px;

}

h2{
    color: blue;
    background-color: black;
    border-radius: 8px;
    text-shadow: 5px 5px 55px rgb(7, 7, 157);
}